.block-item{
  margin-bottom: 4px;
}

[contenteditable="true"]{
  outline: none;
}


div.ant-typography,.ant-typography p {
  margin-bottom: 1em
}

h1.s-typography,.s-typography h1 {
  color: #303133;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.23;
}

h2.s-typography,.s-typography h2 {
  color: #303133;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.35
}

h3.s-typography,.s-typography h3 {
  color: #303133;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
}

h4.s-typography,.s-typography h4 {
  color: #303133;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
}

.s-typography {
  color: #606266;
  font-size: 14px;
  overflow-wrap: break-word;
  margin: 0;
}
.minor-typography.s-typography{
  color: #909399;
  font-size: 12px;
}

.sp-descriptions-item-label {
  color: rgba(0,0,0,.85);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5
}

.sp-descriptions-item-label:after {
  position: relative;
  top: -.5px;
  margin: 0 8px 0 2px;
  content: " "
}

.sp-descriptions-item-colon:after {
  content: ":"
}

.sp-descriptions-item-no-label:after {
  margin: 0;
  content: ""
}

.sp-descriptions-item-content {
  color: rgba(0,0,0,.65);
  font-size: 14px;
  line-height: 1.5
}
.column{
  margin-bottom: 10px;
}

.mt8{
  margin-top: 8px;
}

.mt10{
  margin-top: 10px;
}

.mt12{
  margin-top: 12px;
}

.mt15{
  margin-top: 15px;
}

.mt30{
  margin-top: 30px;
}

.mb8{
  margin-bottom: 8px;
}

.mb10{
  margin-bottom: 10px;
}

.mb15{
  margin-bottom: 15px;
}

.mb20{
  margin-bottom: 20px;
}

.mb30{
  margin-bottom: 30px;
}

.ml8{
  margin-left: 8px;
}

.ml10{
  margin-left: 10px;
}

.ml15{
  margin-left: 15px;
}

.ml20{
  margin-left: 20px;
}

.ml30{
  margin-left: 30px;
}

.mr8{
  margin-right: 8px;
}

.mr10{
  margin-right: 10px;
}

.mr15{
  margin-right: 15px;
}

.mr20{
  margin-right: 20px;
}

.mr30{
  margin-right: 30px;
}